{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Action": [
                "s3:*"
            ],
            "Resource": [
                "arn:aws:s3:::{{ clusterid }}.{{ dns_domain }}-registry",
                "arn:aws:s3:::{{ clusterid }}.{{ dns_domain }}-registry/*"
            ],
            "Effect": "Allow",
            "Sid": "1"
        }
    ]
}
