openshift_master_default_subdomain=apps.{{ clusterid }}.{{ domain }}
openshift_master_cluster_hostname=master.{{ clusterid }}.{{ domain }}
openshift_master_cluster_public_hostname=master.{{ clusterid }}.{{ domain }}
