openshift_hosted_manage_registry=true
openshift_hosted_registry_storage_kind=object
openshift_hosted_registry_storage_provider=s3
{{ lookup('file', ( '~/.ssh/config-' +
                    clusterid +
                    '.' +
                    dns_domain +
                    '-s3user_access_key') ) |
                    regex_replace(".* OUTPUT .*", '') |
                    trim }}
openshift_hosted_registry_storage_s3_bucket={{ clusterid }}.{{ dns_domain }}-registry
openshift_hosted_registry_storage_s3_region={{ aws_region }}
openshift_hosted_registry_storage_s3_chunksize=26214400
openshift_hosted_registry_storage_s3_rootdirectory=/registry
openshift_hosted_registry_pullthrough=true
openshift_hosted_registry_acceptschema2=true
openshift_hosted_registry_enforcequota=true
openshift_hosted_registry_replicas=3
openshift_hosted_registry_selector='region=infra'
