[masters]
{%- for i in ec2master.results %}
{{ i.tagged_instances[0].private_dns_name }} openshift_node_labels="{'region': 'master'}"
{%- endfor %}

[etcd]

[etcd:children]
masters

[nodes]
{% for i in ec2node.results -%}
{{ i.tagged_instances[0].private_dns_name }} openshift_node_labels="{'region': 'apps'}"
{% endfor -%}
{% for i in ec2infra.results -%}
{{ i.tagged_instances[0].private_dns_name }} openshift_node_labels="{'region': 'infra', 'zone': 'default'}"
{% endfor %}
[nodes:children]
masters
