openshift_master_default_subdomain=apps.{{ clusterid }}.{{ dns_domain }}
openshift_master_cluster_hostname=master.{{ clusterid }}.{{ dns_domain }}
openshift_master_cluster_public_hostname=master.{{ clusterid }}.{{ dns_domain }}
